USE [master]
GO
/****** Object:  Database [Bootcamp]    Script Date: 10/19/2016 11:08:53 AM ******/
CREATE DATABASE [Bootcamp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bootcamp', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Bootcamp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bootcamp_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Bootcamp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bootcamp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bootcamp]
GO
USE [Bootcamp]
GO
/****** Object:  Table [dbo].[Atmosfera]    Script Date: 10/19/2016 11:08:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Atmosfera](
	[fecha] [nvarchar](35) NOT NULL,
	[ciudad] [nvarchar](50) NOT NULL,
	[pais] [nvarchar](50) NOT NULL,
	[region] [nvarchar](50) NOT NULL,
	[presion] [float] NULL,
	[visivilidad] [float] NULL,
	[ambienteAscendente] [float] NULL,
	[humedad] [float] NULL,
 CONSTRAINT [PK_Atmosfera] PRIMARY KEY CLUSTERED 
(
	[fecha] ASC,
	[ciudad] ASC,
	[pais] ASC,
	[region] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DiaActual]    Script Date: 10/19/2016 11:08:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaActual](
	[fecha] [nvarchar](35) NOT NULL,
	[ciudad] [nvarchar](50) NOT NULL,
	[pais] [nvarchar](50) NOT NULL,
	[region] [nvarchar](50) NOT NULL,
	[temperatura] [float] NULL,
	[descripcion] [nvarchar](50) NULL,
 CONSTRAINT [PK_DiaActual] PRIMARY KEY CLUSTERED 
(
	[fecha] ASC,
	[ciudad] ASC,
	[pais] ASC,
	[region] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Localidad]    Script Date: 10/19/2016 11:08:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidad](
	[ciudad] [nvarchar](50) NOT NULL,
	[pais] [nvarchar](50) NOT NULL,
	[region] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Localidad] PRIMARY KEY CLUSTERED 
(
	[ciudad] ASC,
	[pais] ASC,
	[region] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pronostico]    Script Date: 10/19/2016 11:08:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pronostico](
	[fecha] [nvarchar](35) NOT NULL,
	[ciudad] [nvarchar](50) NOT NULL,
	[pais] [nvarchar](50) NOT NULL,
	[region] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Pronostico] PRIMARY KEY CLUSTERED 
(
	[fecha] ASC,
	[ciudad] ASC,
	[pais] ASC,
	[region] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PronosticoExtendido]    Script Date: 10/19/2016 11:08:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PronosticoExtendido](
	[fechaDia] [nvarchar](35) NOT NULL,
	[fechaPronostico] [nvarchar](35) NOT NULL,
	[ciudad] [nvarchar](50) NOT NULL,
	[pais] [nvarchar](50) NOT NULL,
	[region] [nvarchar](50) NOT NULL,
	[minima] [int] NULL,
	[maxima] [int] NULL,
	[descripcion] [nvarchar](50) NULL,
	[nombre] [nchar](10) NULL,
 CONSTRAINT [PK_Dia] PRIMARY KEY CLUSTERED 
(
	[fechaDia] ASC,
	[fechaPronostico] ASC,
	[ciudad] ASC,
	[pais] ASC,
	[region] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Viento]    Script Date: 10/19/2016 11:08:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Viento](
	[fecha] [nvarchar](35) NOT NULL,
	[ciudad] [nvarchar](50) NOT NULL,
	[pais] [nvarchar](50) NOT NULL,
	[region] [nvarchar](50) NOT NULL,
	[velocidad] [float] NULL,
	[direccion] [float] NULL,
 CONSTRAINT [PK_Viento] PRIMARY KEY CLUSTERED 
(
	[fecha] ASC,
	[ciudad] ASC,
	[pais] ASC,
	[region] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Atmosfera]  WITH NOCHECK ADD  CONSTRAINT [FK_Atmosfera_Pronostico] FOREIGN KEY([fecha], [ciudad], [pais], [region])
REFERENCES [dbo].[Pronostico] ([fecha], [ciudad], [pais], [region])
GO
ALTER TABLE [dbo].[Atmosfera] NOCHECK CONSTRAINT [FK_Atmosfera_Pronostico]
GO
ALTER TABLE [dbo].[DiaActual]  WITH NOCHECK ADD  CONSTRAINT [FK_DiaActual_Pronostico] FOREIGN KEY([fecha], [ciudad], [pais], [region])
REFERENCES [dbo].[Pronostico] ([fecha], [ciudad], [pais], [region])
GO
ALTER TABLE [dbo].[DiaActual] NOCHECK CONSTRAINT [FK_DiaActual_Pronostico]
GO
ALTER TABLE [dbo].[Pronostico]  WITH NOCHECK ADD  CONSTRAINT [FK_Pronostico_Localidad] FOREIGN KEY([ciudad], [pais], [region])
REFERENCES [dbo].[Localidad] ([ciudad], [pais], [region])
GO
ALTER TABLE [dbo].[Pronostico] NOCHECK CONSTRAINT [FK_Pronostico_Localidad]
GO
ALTER TABLE [dbo].[PronosticoExtendido]  WITH NOCHECK ADD  CONSTRAINT [FK_Dia_Pronostico] FOREIGN KEY([fechaPronostico], [ciudad], [pais], [region])
REFERENCES [dbo].[Pronostico] ([fecha], [ciudad], [pais], [region])
GO
ALTER TABLE [dbo].[PronosticoExtendido] NOCHECK CONSTRAINT [FK_Dia_Pronostico]
GO
ALTER TABLE [dbo].[Viento]  WITH NOCHECK ADD  CONSTRAINT [FK_Viento_Pronostico] FOREIGN KEY([fecha], [ciudad], [pais], [region])
REFERENCES [dbo].[Pronostico] ([fecha], [ciudad], [pais], [region])
GO
ALTER TABLE [dbo].[Viento] NOCHECK CONSTRAINT [FK_Viento_Pronostico]
GO
USE [master]
GO
